*{
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
#Top {
    display: flex;
    justify-content: space-between;
    height: 65px;
    border-bottom: 2px black solid;
}
#glob{
    display: flex;
    align-items: center;
}
.active {
    text-decoration: underline;
    text-decoration-color: #90caf9;
    text-underline-offset: 15px;
}
.headerMarg{
    margin: 0px 10px 0px 10px;
    font-weight: bold;
}
.headerButton {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 7px;
}
#connexion {
    border: 2px #90caf9 solid;
    color: #90caf9;
    background-color: transparent;
}
#post {
    border: 2px #90caf9 solid;
    color: white;
    background-color: #90caf9;
}
#side{
    display: flex;
}
.photo {
    width: 200%;
    height: 500px;
    display: flex;
    margin: 25px;
    flex-direction: column;
}
.imgPRDT {
    width: 300px;
    height: 100%;
    margin: auto;
    border-radius: 8px;
}
.description {
    margin: 5px 40px 0px 40px;
    padding: 25px;
}
.imgPP {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    background-color: pink;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.ttre{
    display: flex;
    align-items: center;
}
.titire{
    font-size: 2em;
}
.reservePRDT {
    display: flex;
    flex-direction: column;
}
.echanger{
    border: 2px #90caf9 solid;
    color: white;
    background-color: #90caf9;
}
.envoiMessage{
    border: 2px #90caf9 solid;
    color: #90caf9;
    background-color: transparent;
}

h1 {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product h2 {
    margin-top: 10px;
}

.profile {
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h1, p {
    margin: 0;
}

.photoss {
    margin: 5px 0px 0px 130px;
}

.escp {
    margin: 15px 0px;
}

.elleEstLoinLaPrise {
    width: 300px;
    border-radius: 8px;
    border: 1px grey solid;
}
.logo {
    height: 55px;
    margin-left: 20px;
}
.note {
    display: flex;
}
.etoile {
    margin: 0px 1px;
}
.Etoile1, .Etoile2, .Etoile3, .Etoile4 {
    color: rgb(241, 241, 0);
}
  
